
h1 {
	margin: 0;
	font-size: 1.2rem;
	font-weight: lighter;
	width: 18rem;
	text-align: center;
}

main {
	padding: 20px;
}

.list-with-dots li::before {
	content: "• ";
	color: #FFA07A;
	font-weight: bold;
	margin-right: 5px; /* Increase the right margin for spacing */
  }


body {
	font-family: Arial, sans-serif;
	background-color: #222;
	color: #eee;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin-bottom: 10px;
}

section {
	margin-bottom: 20px;
	background-color: #333;
	padding: 20px;
    border-radius: 8px;
}

footer {
	background-color: #444;
	color: #fff;
	padding: 20px;
	text-align: center;
}


nav ul {
	display: flex;
}


nav ul li {
	width: 16.6%;
	margin-right: 5px;
	height: 50px;
	background-color: #141414;
	font-size: 0.6rem;
  }
  
  nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
	color: #FFA07A;
	text-decoration: none;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
  }

nav ul li:last-child {
	margin-right: 0;
}
header {
	position: relative;
}

.small-rectangle {
	position: absolute;
	top: 0.75rem;
	right: 1.2rem;
	max-width: 10%;
	height: auto;
}
.contact-icon {
    width: 20px;
    height: 20px;
    max-width: 5rem;
    margin-right: 5px;
    vertical-align: middle;
  }

  h2 {
    margin-bottom: 10px;
    color: #FFA07A;
  }

  .contact-info {
    display: block;
    margin-bottom: 10px;
  }

  .contact-info::before {
    content: "•";
    color: #FFA07A;
    font-weight: bold;
    margin-right: 5px;
  }

  .contact-info i {
    margin-right: 5px;
    color: #FFA07A;
  }

  .contact-info a {
    color: #FFA07A;
    text-decoration: none;
  }

  .contact-info a:hover {
    text-decoration: underline;
  }








  
  .cv-section {
    background-color: #333;
    color: #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .cv-image img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .cv-download {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFA07A;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .cv-download img {
    max-width: 40px;
    height: auto;
    margin-right: 10px;
  }

  .cv-download a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FFA07A;
    font-size: 3rem;
  }

  .cv-download a:hover {
    text-decoration: underline;
  }

  .cv-download i {
    margin-right: 5px;
  }
  .H2-DL{
	font-size: 4rem;
  }




@media (min-width: 768px) {
.small-rectangle {
	top: 1.25rem;
	right: 3.125rem;
	max-width: 5rem;
}
.contact-icon {
	max-width: 5rem;
}
header {
	font-size: 20px;
	padding: 10px;
	height: 5.8rem;
}

h1 {
	font-size: 44px;
	width: 80rem;
}

h2 {
	font-size: 20px;
}

section {
	padding: 10px;
}
nav ul li {
	width: 16.6%;
	margin-right: 5px;
	height: 50px;
	background-color: #141414;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}
}